/* Global styling */

*{
    box-sizing: border-box;
}

html{
    font-size:14px;
    font-family: "Titillium Web",sans-serif;
    background-color: rgb(0,0,0);
    color: #fefefe;
}

a{
    color:#A3C6FF;
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size:20px;
    font-weight: bolder;
}

.container{
    margin:20px;
    padding:20px;
}

.subforum{
    margin-top:20px;
}

.subforum-title{
    background-color:#354E8E;
    border-radius:7px;
    padding:8px;
    margin:4px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 67% 13% 20%;
}

.subforum-column{
    padding:10px;
    margin:4px;
    border-radius: 5px;
    background-color: #185F6D;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-desc*{
    margin-block: 0;
}

.subforum-divi{
    display: none;
}